<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <target
        xsi:type="File"
        name="archive"
        archiveEvery="Day"
        archiveFileName = "${basedir}\logs\archive\archive-{########}.log"
        archiveNumbering = "Date"
        archiveDateFormat = "yyyyMMdd"
        maxArchiveFiles = "4"
        fileName="${basedir}\logs\${shortdate}.log"
        encoding="utf-8"
        layout="[${longdate}][${machinename}][${level:uppercase=true}] ${message} ${exception}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="archive" />
  </rules>
</nlog>